<section class="clients-new admin-dashboard">
  <header class="dashboard-header">
    <h1>Nouveau client</h1>
    <p class="muted">Créez un nouveau client</p>
  </header>

  <div style="margin-top:1rem">
    <%= render 'form', client: @client %>
  </div>
</section>
