<section class="agents-new admin-dashboard">
  <header class="dashboard-header">
    <h1>Nouveau agent</h1>
    <p class="muted">Créez un nouvel agent</p>
  </header>

  <div style="margin-top:1rem">
    <%= render 'form', client: @client, agent: @agent %>

  </div>
</section>
